In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#load the data set
data_path = '../restaurant_data/restaurants_data.csv'
df = pd.read_csv(data_path)
df.head()

,name,rating,lat,lng,vicinity,price_level,types,user_ratings_total
0,Jersey Mike's Subs,4.4,38.010347,-78.498799,"265 Merchant Walk Avenue Suite 1004, Charlotte...",1.0,"meal_takeaway, restaurant, food, point_of_inte...",683.0
1,Panera Bread,3.7,38.011409,-78.498387,"405 Merchant Walk Square Bldg 1800, Charlottes...",2.0,"cafe, bakery, meal_takeaway, restaurant, food,...",453.0
2,Timberwood Tap House,4.2,38.010356,-78.499736,"245 Merchant Walk Avenue Unit 100, Charlottesv...",2.0,"restaurant, food, point_of_interest, establish...",1359.0
3,Alamo Drafthouse Cinema Charlottesville,4.5,38.011919,-78.499495,"375 Merchant Walk Square, Charlottesville",NaN,"movie_theater, bar, restaurant, food, point_of...",2317.0
4,Subway,3.8,38.012863,-78.503421,"1141 5th Street Ext, Unit 1141, Charlottesville",1.0,"meal_takeaway, restaurant, food, point_of_inte...",86.0

In [3]:
## process the data
df.isnull().sum()

name                   0
rating                 8
lat                    0
lng                    0
vicinity               0
price_level           86
types                  0
user_ratings_total     8
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         20 non-null     object
 1   rating       20 non-null     float64
 2   lat          20 non-null     float64
 3   lng          20 non-null     float64
 4   vicinity     20 non-null     object
 5   price_level  19 non-null     float64
 6   types        20 non-null     object
dtypes: float64(4), object(3)
memory usage: 1.2+ KB

In [5]:
df.columns

Index(['name', 'rating', 'lat', 'lng', 'vicinity', 'price_level', 'types',
       'user_ratings_total'],
      dtype='object')

In [7]:
df.columns=df.columns.str.strip()
df.columns

Index(['name', 'rating', 'lat', 'lng', 'vicinity', 'price_level', 'types',
       'user_ratings_total'],
      dtype='object')

In [10]:
df_cleaned = df[['name', 'types']]
df_cleaned.head()

,name,types
0,Jersey Mike's Subs,"meal_takeaway, restaurant, food, point_of_inte..."
1,Panera Bread,"cafe, bakery, meal_takeaway, restaurant, food,..."
2,Timberwood Tap House,"restaurant, food, point_of_interest, establish..."
3,Alamo Drafthouse Cinema Charlottesville,"movie_theater, bar, restaurant, food, point_of..."
4,Subway,"meal_takeaway, restaurant, food, point_of_inte..."

In [11]:
df_cleaned.to_csv('charlottesville_restaurant_cleaned_dataset.csv',index=False)